.root {
    -fx-background-color: rgba(255, 255, 255, 0);
}

.content {
    -fx-background-color: rgb(255, 255, 255);
    -fx-background-radius: 4;
}

#anchorPaneDialog {
    -fx-border-color: #1a1a1c;
    -fx-border-radius: 5;
    -fx-border-insets: -2;
    -fx-border-width: 2;
}

#anchorPaneMessage {
    -fx-background-radius: 5;
    -fx-background-color:
    #000000,
    linear-gradient(#20202b, #1d1d23),
    linear-gradient(#474c5e, #39383b),
    linear-gradient(#2a2a2d, #1a1a1c);
    -fx-text-fill: orange;
    -fx-font-size: 12px;
}

.rich-blue {
    -fx-background-color:
    #8e8e8e,
    linear-gradient(#e8e3ea, #828282),
    linear-gradient(#b3b4b7, #f9f7ff),
    linear-gradient(#aaabab, #fdf9fe);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
}
.rich-blue Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1);
}